* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-size: 16px;
}

body {
  color: #4A5065;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

svg {
  font-size: 1.25rem;
}

/* Scrollbar style */
::-webkit-scrollbar-track {
  background-color: #E7E7EA;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #6E7384;
}

/* ===== START: RESPONSIVE COLUMNS ===== */
.col-span-12 {
  flex: 0 0 auto !important;
  width: 100%;
  padding: 0.5rem;
}
.col-span-11 {
  flex: 0 0 auto !important;
  width: 91.666666663%;
  padding: 0.5rem;
}
.col-span-10 {
  flex: 0 0 auto !important;
  width: 83.33333333%;
  padding: 0.5rem;
}
.col-span-9 {
  flex: 0 0 auto !important;
  width: 75%;
  padding: 0.5rem;
}
.col-span-8 {
  flex: 0 0 auto !important;
  width: 66.66666667%;
  padding: 0.5rem;
}
.col-span-7 {
  flex: 0 0 auto !important;
  width: 58.333333331%;
  padding: 0.5rem;
}
.col-span-6 {
  flex: 0 0 auto !important;
  width: 50%;
  padding: 0.5rem;
}
.col-span-5 {
  flex: 0 0 auto !important;
  width: 41.666666665%;
  padding: 0.5rem;
}
.col-span-4 {
  flex: 0 0 auto !important;
  width: 33.333333333%;
  padding: 0.5rem;
}
.col-span-3 {
  flex: 0 0 auto !important;
  width: 25%;
  padding: 0.5rem;
}
.col-span-2 {
  flex: 0 0 auto !important;
  width: 16.666666667%;
  padding: 0.5rem;
}
.col-span-1 {
  flex: 0 0 auto !important;
  width: 8.333333333%;
  padding: 0.5rem;
}
/* ====== END: RESPONSIVE COLUMNS ====== */


/*
===== COLORS =====

#3B4051  =  text-dark
#4A5065  =  default
#6E7384  =  secondary
#8B8F9D  =  light
#E7E7EA  =  text-100

#324792  =  primary-dark
#3E59B7  =  primary-default
#657AC5  =  primary-disabled
#E5E9F5  =  primary-light
#EBEEF8  =  primary-100

*/